/* ###################################################### */
/* ###################################################### */
/* ################# ELEMENTS STYLES ##################  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ############  ELEMENTS DESKTOP STYLES ##############  */
/* ###################################################### */

/* BUTTONS */
.secondary-cta--white {
  display: inline-block;
  border-radius: 100px;
  font-family: var(--headings-font);
  font-size: var(--small-size);
  font-weight: var(--regular);
  background-color: var(--bg-light--color);
  color: var(--heading-color);
  padding: var(--secondary-cta--padding);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* HEADINGS AND SUBHEADINGS TITLE WRAPPERS */

.h1-title-wrapper {
  margin-bottom: var(--large-margin-bottom);
  text-align: center;
}

/* CARDS */
/* Project Card Large */
.project-card--large {
  background-color: var(--bg-white--color);
  box-shadow: var(--dark-shadow);
  padding: var(--card-padding);
  margin-bottom: var(--medium-margin-bottom);
  border-radius: 20px;
}

/* ###################################################### */
/* ############## ELEMENTS MEDIA QUERIES ###############  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<-------- ELEMENTS MEDIA QUERIES (mai-width: 800px) -------->>> */
/* <<<------------------------------------------------------------->>> */

/* HEADINGS AND SUBHEADINGS TITLE WRAPPERS */

@media screen and (max-width: 800px) {
  .h1-title-wrapper {
    margin-bottom: var(--medium-margin-bottom);
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 640px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

/* CARDS */
/* Project Card Large */
@media screen and (max-width: 640px) {
  .project-card--large {
    padding: var(--small-padding);
  }
}
