/* ###################################################### */
/* ###################################################### */
/* ################# ELEMENTS STYLES ##################  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ############  ELEMENTS DESKTOP STYLES ##############  */
/* ###################################################### */

/* Buttons */
.secondary-cta--white {
  display: inline-block;
  border-radius: 100px;
  font-family: var(--headings-font);
  font-size: var(--small-size);
  font-weight: var(--regular);
  background-color: var(--bg-light--color);
  color: var(--dark-text);
  padding: var(--secondary-cta--padding);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Headings and Subheadings Title Elements */

.h1-title-wrapper {
  margin-bottom: var(--large-margin-bottom);
  text-align: center;
}

/* Cards */
.project-card--large {
  background-color: var(--bg-white--color);
  box-shadow: var(--dark-shadow);
  padding: var(--card-padding);
  margin-bottom: var(--regular-margin-bottom);
  border-radius: 20px;
}

/* ###################################################### */
/* ############## HOME PAGE MEDIA QUERIES ##############  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<-------- ELEMENTS MEDIA QUERIES (mai-width: 800px) -------->>> */
/* <<<------------------------------------------------------------->>> */

/* Headings and Subheadings Title Elements */

@media screen and (max-width: 800px) {
  .heading-title {
    margin-bottom: var(--medium-margin-bottom);
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 640px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

/* Project Card Large */
@media screen and (max-width: 640px) {
  .project-card--large {
    padding: var(--small-padding);
  }
}
