/* ###################################################### */
/* ###################################################### */
/* ################# HOME PAGE STYLES ##################  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ################## DESKTOP STYLES ###################  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<------------------- HERO SECTION (desktop) ------------------>>> */
/* <<<------------------------------------------------------------->>> */

.hero-home {
  background: var(--bg-primary--color);
  overflow: hidden;

  /* background: #eba488; */
  /* background: #845007; */
  /* background: #3a4660; */
  /* background: #6c67a5; */
  /* background: #a68bd1; */
  /* background: #845007; */
  /* background: #627ae2; */
}

.hero-home-intro {
  position: relative;
  margin: 0 auto;
  padding: 3em 0;
}

.hero-photo {
  position: relative;
  z-index: 2;
  width: 28em;
  height: 28em;
  border-radius: 50%;
}

.label-absolute {
  position: absolute;
  z-index: 3;
}

.label-one {
  left: 12%;
  top: 4%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.label-two {
  left: 2%;
  top: 43%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.label-three {
  left: 12%;
  bottom: 4%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.label-four {
  top: 4%;
  right: 12%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
}

.label-five {
  top: 43%;
  right: 2%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.label-six {
  right: 12%;
  bottom: 4%;
  height: 12%;
  width: 14em;
  padding: var(--label-padding);
  background-image: url("/assets/images/backgrounds/label-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-home-angle {
  position: absolute;
  left: -10vw;
  bottom: -55vw;
  z-index: 1;
  width: 130vw;
  height: 82vw;
  margin: 0 auto;
  background-color: var(--bg-light--color);
  transform: translate(0px, 10vw) rotate(-13deg);
}

.hero-home-content {
  position: relative;
  padding-top: var(--large-padding-top);
  background-color: var(--bg-light--color);
}

.hero-info {
  position: relative;
  z-index: 3;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* <<<------------------------------------------------------------->>> */
/* <<<----------------- PROJECTS SECTION (desktop) ---------------->>> */
/* <<<------------------------------------------------------------->>> */

.project-card--large-img {
  grid-column: 1 / 4;
  grid-row: 1;
  background-image: url("/assets/images/project-images/rainy-days-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.project-card--large-table {
  grid-column: 4 / 7;
  grid-row: 1;
  width: 100%;
  margin-bottom: var(--regular-margin-bottom);
}

.project-card--large-table-cell {
  border: 0.02px solid var(--border-dark-color);
  border-radius: 50px;
  padding: var(--small-padding);
  height: 3em;
}

.table-info {
  padding-left: 2em;
}

.table-line {
  padding-left: 2em;
}

.project-card--large-info-description {
  grid-column: 4 / 7;
  grid-row: 1;
  margin-top: 8.5em;
}

.project-card--large-tags {
  grid-column: 4 / 7;
  grid-row: 1;
  margin-top: 4.5em;
  gap: var(--small-gap);
}

.project-tag {
  background-color: var(--tag-background);
  border-radius: 100px;
  padding: var(--small-padding);
  height: 2em;
}

.project-tag-icon {
  width: 5px;
  height: 5px;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: var(--span-text);
}

.project-card--large-cta {
  grid-column: 4 / 7;
  grid-row: 1;
  margin-top: 19em;
  gap: var(--medium-gap);
}

.project-card--large-cta a {
  font-family: var(--headings-font);
}

.link-wrapper {
  gap: var(--smaller-gap);
}

.link-wrapper p {
  margin: var(--no-margin);
}

.link-icon {
  width: 20px;
  height: 10px;
}

/* ###################################################### */
/* ############### MEDIA QUERIES STYLES ################  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<------- HERO SECTION MEDIA QUERIES (max-width: 1440px) ------>>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (min-width: 1441px) {
  .hero-home-angle {
    bottom: -60vw;
    width: 130vw;
    height: 82vw;
    transform: translate(0px, 10vw) rotate(-12deg);
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------ HERO SECTION MEDIA QUERIES (max-width: 1024px) ------>>> */
/* <<<------------------------------------------------------------->>> */
@media screen and (max-width: 1024px) {
  .hero-photo {
    width: 20em;
    height: 20em;
  }

  .label-one {
    left: 10%;
    top: 4%;
    height: 18%;
    width: 12em;
  }

  .label-two {
    left: 5%;
    top: 41%;
    height: 18%;
    width: 12em;
  }

  .label-three {
    left: 10%;
    bottom: 4%;
    height: 18%;
    width: 12em;
  }

  .label-four {
    top: 4%;
    right: 10%;
    height: 18%;
    width: 12em;
  }

  .label-five {
    top: 41%;
    right: 5%;
    height: 18%;
    width: 12em;
  }

  .label-six {
    right: 10%;
    bottom: 4%;
    height: 18%;
    width: 12em;
  }

  .hero-home-angle {
    bottom: -70vw;
    width: 130vw;
    height: 100vw;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------- HERO SECTION MEDIA QUERIES (max-width: 800px) ------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 800px) {
  .labels-content > * {
    width: 100%;
    gap: var(--small-gap);
  }
  .labels-content {
    width: 100%;

    padding: var(--no-padding);
    gap: var(--small-gap);
  }

  .hero-photo {
    width: 20em;
    height: 20em;
  }

  .labels-content-group-one > * {
    width: 47%;
    margin-top: var(--medium-margin-top);
    padding: var(--padding-up-down-regular);
    position: static;
  }

  .labels-content-group-two > * {
    width: 47%;
    padding: var(--padding-up-down-regular);
    position: static;
  }

  .labels-content-group-three > * {
    width: 47%;
    padding: var(--padding-up-down-regular);
    position: static;
  }

  .hero-home-angle {
    bottom: -50vw;
    width: 250vw;
    height: 140vw;
  }

  .hero-home-content {
    padding-top: var(--medium-padding-top);
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 800px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 800px) {
  .project-card--large-img {
    grid-column: 1 / 7;
    grid-row: 1;
    height: 380px;
  }

  .project-card--large-table {
    grid-column: 1 / 7;
    grid-row: 2;
    margin-bottom: var(--no-margin);
  }

  .table-info,
  .table-line {
    padding-left: 1em;
  }

  .project-card--large-tags {
    grid-column: 1 / 7;
    grid-row: 3;
    margin-top: var(--no-margin);
  }

  .project-card--large-info-description {
    grid-column: 1 / 6;
    grid-row: 4;
    margin-top: var(--no-margin);
  }

  .project-card--large-cta {
    margin-top: var(--no-margin);
    grid-column: 1 / 4;
    grid-row: 5;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------- HERO SECTION MEDIA QUERIES (max-width: 640px) ------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 640px) {
  .labels-content {
    margin: var(--no-margin);
    gap: var(--padding-up-down-small);
    padding: var(--no-padding);
  }

  .label-absolute {
    margin: var(--no-margin);
    padding: var(--padding-up-down-small);
    gap: var(--small-gap);
  }

  .label-absolute .h6-regular {
    font-size: var(--small-size);
  }

  .labels-content-group-one {
    gap: var(--small-gap);
    margin-top: var(--regular-margin-top);
  }

  .labels-content-group-two {
    gap: var(--small-gap);
  }

  .labels-content-group-three {
    gap: var(--small-gap);
  }

  .hero-photo {
    width: 15em;
    height: 15em;
  }

  .hero-home-angle {
    bottom: -270vw;
    width: 500vw;
    height: 380vw;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 640px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 640px) {
  .project-card--large-img {
    grid-column: 1 / 7;
    grid-row: 1;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  .project-card--large-table {
    grid-column: 1 / 7;
    grid-row: 2;
    margin-bottom: var(--no-margin);
  }

  .project-card--large-tags {
    grid-column: 1 / 7;
    grid-row: 3;
    margin-top: var(--no-margin);
  }

  .project-card--large-info-description {
    grid-column: 1 / 7;
    grid-row: 4;
  }

  .project-card--large-cta {
    grid-column: 1 / 7;
    grid-row: 5;
    gap: var(--regular-gap);
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------- HERO SECTION MEDIA QUERIES (max-width: 425px) ------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 425px) {
  .hero-home-angle {
    bottom: -270vw;
    width: 500vw;
    height: 415vw;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 425px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 425px) {
  .project-card--large-img {
    height: 170px;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------- HERO SECTION MEDIA QUERIES (max-width: 321px) ------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 320px) {
  .hero-home-angle {
    bottom: -290vw;
    width: 540vw;
    height: 465vw;
  }
}

/* <<<------------------------------------------------------------->>> */
/* <<<------------ PROJECTS SECTION (max-width: 321px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

@media screen and (max-width: 320px) {
  .project-card--large-img {
    height: 140px;
  }
}
